.env
__pycache__/
results/*.csv
hallucination_llm_env/
*.pyc
.DS_Store
.vscode/
results/*.ods
external/Wikipedia_text_extractor/
data/rag_sources/docs_clean/**/*.txt
data/rag_sources/web_raw/**/*.html
data/rag_sources/rag_index/*.jsonl
